// FONT
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Sriracha', cursive;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sriracha&display=swap");
@import "reset";

// COMMON
body {
  font: 16px/1 "Sriracha", "Noto Sans KR";
}

// UI
figure {
  width: 100%;
  height: 100vh;
  // 보고 있는 만큼만 vh주겠다. width는 100%되는데 hright는 100% 안됨
  position: relative;
  background: linear-gradient(
    25deg,
    rgb(205, 131, 255),
    rgb(71, 255, 255, 0.5)
  );
  overflow: hidden;

  h1 {
    position: absolute;
    top: 7vh;
    left: 4vw;
    font-size: 0;
    // 글자 사이 떨어지지 않게 붙이는 것

    strong {
      font-size: 50px;
      color: white;
      letter-spacing: 1px;
    }

    .logo {
      font-size: 32px;
      margin-left: 10px;
      color: rgb(64, 38, 96);
    }

    span {
      font-size: 16px;
      color: white;
      opacity: 0.8;
      letter-spacing: 2px;
    }
  }

  .menu {
    position: absolute;
    top: 8vh;
    right: 4vw;
    // 로고만큼 위치를 떨어트리는 것
    font-size: 30px;
    color: white;
  }

  @import "panel";
  //   왜 여기에?
  @import "btns";

  > p {
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translate(-50%, 0);
    // left50%만하면 중앙정렬 안돼. translate: 로 본인 크기 50%옮겨줘야 진심 중앙정렬하는것;
    font: 16px/1 "Sriracha", "Noto Sans KR";
    color: white;
  }
}
