@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Sriracha&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font: 16px/1 "Sriracha", "Noto Sans KR";
}

figure {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(25deg, rgb(205, 131, 255), rgba(71, 255, 255, 0.5));
  overflow: hidden;
}
figure h1 {
  position: absolute;
  top: 7vh;
  left: 4vw;
  font-size: 0;
}
figure h1 strong {
  font-size: 50px;
  color: white;
  letter-spacing: 1px;
}
figure h1 .logo {
  font-size: 32px;
  margin-left: 10px;
  color: rgb(64, 38, 96);
}
figure h1 span {
  font-size: 16px;
  color: white;
  opacity: 0.8;
  letter-spacing: 2px;
}
figure .menu {
  position: absolute;
  top: 8vh;
  right: 4vw;
  font-size: 30px;
  color: white;
}
figure section {
  width: 20vw;
  height: 65vh;
  position: absolute;
  left: 50%;
  top: 150%;
  margin-left: -10vw;
  margin-top: -32.5vh;
  transition: 1s;
}
figure section article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
figure section article .inner {
  width: 100%;
  height: 100%;
  background-color: aliceblue;
  padding: 5vh 2.5vw 8vh;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  transform: scale(0.8);
  transition: 1s;
}
figure section article.on .inner {
  opacity: 1;
  transform: scale(1);
}
figure .btnPrev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20vw, -50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  color: white;
}
figure .btnPrev::before, figure .btnPrev::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  transform-origin: left center;
  transform: rotate(-180deg);
  transition: 0.5s;
}
figure .btnPrev::after {
  transform: rotate(180deg);
}
figure .btnPrev:hover span {
  transform: translate(100%, 0);
  opacity: 0;
  transition: 0.5s;
}
figure .btnPrev:hover::before {
  transform: rotate(-30deg);
}
figure .btnPrev:hover::after {
  transform: rotate(30deg);
}
figure .btnNext {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(20vw - 60px), -50%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  cursor: pointer;
  color: white;
}
figure .btnNext::before, figure .btnNext::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  transform-origin: right center;
  transform: rotate(-180deg);
  transition: 0.5s;
}
figure .btnNext::before {
  transform: rotate(180deg);
}
figure .btnNext:hover span {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: 0.5s;
}
figure .btnNext:hover::before {
  transform: rotate(30deg);
}
figure .btnNext:hover::after {
  transform: rotate(-30deg);
}
figure > p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translate(-50%, 0);
  font: 16px/1 "Sriracha", "Noto Sans KR";
  color: white;
}

/*# sourceMappingURL=style.css.map */
